@model FribergRentalCars.Models.Car

@{
    ViewData["Title"] = "EditCar";
}

<h3>Ändra bil uppgifter</h3>

<h4>@Model.Model</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarId" />
            <label asp-for="CarId" class="control-label"><strong>Bil ID:</strong></label>
            <p>@Model.CarId</p>
            <div class="form-group">
                <label asp-for="Model" class="control-label"><strong>Bilmodell</strong></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label"><strong>År:</strong></label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNumber" class="control-label"><strong>Registrerings nummer:</strong></label>
                <input asp-for="RegNumber" class="form-control" />
                <span asp-validation-for="RegNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"><strong>Bild URL:</strong></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerDay" class="control-label"><strong>Pris/ dag:</strong></label>
                <input asp-for="PricePerDay" class="form-control" />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"><strong>Beskrivning:</strong></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> <strong>Tillgänglig?</strong>@*Html.DisplayNameFor(model => model.IsAvailable)*@
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
                <input type="hidden"/>
                <input type="submit" asp-action="Delete" asp-route-id="@Model.CarId" value="Ta bort" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListAllCars">Tillbaka till bilar</a>
</div>

