@model FribergRentalCars.ViewModels.AdminViewModels.EditAccountViewModel

@{
    ViewData["Title"] = "EditAccount";
}

<div>
    <h4 class="primary-text-color">Ändra Kontouppgifter</h4>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item  bg-transparent"> 
            <h4 class="primary-text-color">Konto:</h4>
        </li>
        <li class="list-group-item  bg-transparent">
            <h4 class="third-text-color">@Model.UserName</h4>
        </li>
    </ul>
</div>

<div class="primary-text-color table-responsive">
    <form asp-action="EditAccount">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="visually-hidden">
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="AccountId" />
            <input type="hidden" asp-for="AdressId" />
        </div>
        <table class="table primary-text-color">
            <thead>
                <tr>
                    <th scope="col"><h4>Användar Uppgifter</h4></th>
                    <th scope="col"><h4>Konto Uppgifter</h4></th>
                    <th scope="col"><h4>Adress Uppgifter</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @* Användar Uppgifter *@
                    <td>
                        <div class="form-group p-2">
                            <label asp-for="UserId" class="control-label"><strong>Användar-Id:</strong> 
                                <label class="third-text-color">@Model.UserId</label>
                            </label>
                        </div>
                        <div class="form-group p-2">
                            <label asp-for="UserName" class="control-label"><strong>Användarnamn</strong></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group p-2">
                            <label asp-for="Password" class="control-label"><strong>Lösenord</strong></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group p-2">
                            <label asp-for="IsAdmin" class="control-label"><strong>Administratör?</strong></label>

                            @if (Model.IsAdmin)
                            {
                                <p class="third-text-color">Ja</p>
                            }
                            else
                            {
                                <p class="third-text-color">Nej</p>
                            }
                        </div>
                    </td>
                    @* Konto uppgifter *@
                    <td>
                        <div>
                            <label asp-for="AccountId" class="control-label"><strong>Konto-Id: </strong>
                                <label class="third-text-color">@Model.AccountId</label>
                            </label>
                        </div>

                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"><strong>Förnamn:</strong></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"><strong>Efternamn:</strong></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"><strong>Telefon:</strong></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"><strong>Email:</strong></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </td>
                    @* Adress uppgifter *@
                    <td>
                        <div>
                            <label asp-for="AdressId" class="control-label"><strong>Adress Id: </strong>
                                <label class="third-text-color">@Model.AdressId</label>
                            </label>
                        </div>

                        <div class="form-group">
                            <label asp-for="Street" class="control-label"><strong>Gatunamn:</strong></label>
                            <input asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PostalCode" class="control-label"><strong>Postnummer:</strong></label>
                            <input asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"><strong>Stad/ Ort</strong></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="form-group">
            <input type="submit" value="Spara ändringar" class="btn btn-primary border-0" />
            <a href=@Url.Action("ActiveAccountBookings", "Admin", new {id = Model?.AccountId}) class="btn btn-primary border-0">Konto Bokningar</a>
        </div>
    </form>
</div>



