@model FribergRentalCars.ViewModels.EmailViewModel

@{
    ViewData["Title"] = "ChangeEmail";
}

<h4>Ändra email för: @ViewBag.UserName</h4>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Account.AccountId" />
           
            <div class="form-group">
                <label asp-for="OldEmail" class="control-label"><strong>Nuvarande Email adress:</strong> </label>
                <label asp-for="OldEmail">@Model.Account.Email</label>
            </div>
            <div class="form-group">
                <label asp-for="NewEmail" class="control-label"><strong>Ny Email adress</strong></label>
                <input asp-for="NewEmail" class="form-control" />
                <span asp-validation-for="NewEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewEmail" class="control-label"><strong>Bekräfta ny Email</strong></label>
                <input asp-for="ConfirmNewEmail" class="form-control" />
                <span asp-validation-for="ConfirmNewEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model?.Account.AccountId">till Mitt Konto</a>
    <a asp-controller="Home" asp-action="Index">Tillbaka</a>
</div>

