@model FribergRentalCars.ViewModels.PasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    var accID = Context.Session.GetInt32("accountID");
}

<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item  bg-transparent">
            <h4 class="primary-text-color">Ändra lösenord för: </h4>
        </li>
        <li class="list-group-item  bg-transparent">
            <h4 class="third-text-color"> @ViewBag.UserName</h4>
        </li>
    </ul>
</div>

<hr />
<div class="row primary-text-color">
    <div class="col-md-4 d-grid gap-3">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.UserId" />
            <input type="hidden" asp-for="User.AccountId" />
            <input type="hidden" asp-for="User.UserName" />
            <input type="hidden" asp-for="User.Password" />

            <div class="form-group p-2">
                <label asp-for="OldPassword" class="control-label">Ange nuvarande lösenord</label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>

            </div>               

            <div class="form-group p-2">
                <label asp-for="NewPassword" class="control-label">Ändra lösenord</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="ConfirmNewPassword" class="control-label">Bekräfta nytt lösenord</label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ändra" class="btn btn-primary border-0" />
                <a href=@Url.Action("Edit", "Account", new {id = accID}) class="btn btn-primary border-0">Tillbaka</a>
            </div>
        </form>
    </div>
</div>

