@model FribergRentalCars.ViewModels.PasswordVM

@{
    ViewData["Title"] = "ChangePassword";
    var user = Context.Session.GetString("user");
}

<h1>Ändra Lösenord</h1>

<h4>@user</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.UserId" />
            <input type="hidden" asp-for="User.AccountId" />
            <input type="hidden" asp-for="User.UserName" />

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">Ändra lösenord</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label">Bekräfta nytt lösenord</label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ändra" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details">Tillbaka</a>
</div>

