@model FribergRentalCars.Models.Account

@{
    ViewData["Title"] = "Edit";
}

<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item  bg-transparent">
            <h4 class="primary-text-color">Ändra uppgifter för: </h4>
        </li>
        <li class="list-group-item  bg-transparent">
            <h4 class="third-text-color"> @ViewBag.UserName</h4>
        </li>
    </ul>
</div>
<hr />
<div class="row primary-text-color">
    <div class="col-md-4 d-grid gap-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountId" />
            <h6>Namn uppgifter</h6>
            <div class="form-group p-2">
                
                <label asp-for="FirstName" class="control-label">Förnamn</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="LastName" class="control-label">Efternamn</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <hr />
            <h6>Kontakt uppgifter</h6>
            <div class="form-group p-2">
                <label asp-for="Adress.Street" class="control-label">Gatunamn</label>
                <input asp-for="Adress.Street" class="form-control" />
                <span asp-validation-for="Adress.Street" class="text-danger"></span>
            </div>

            <div class="form-group p-2">
                <label asp-for="Adress.City" class="control-label">Stad</label>
                <input asp-for="Adress.City" class="form-control" />
                <span asp-validation-for="Adress.City" class="text-danger"></span>
            </div>

            <div class="form-group p-2">
                <label asp-for="Adress.PostalCode" class="control-label">Postnummer</label>
                <input asp-for="Adress.PostalCode" class="form-control" />
                <span asp-validation-for="Adress.PostalCode" class="text-danger"></span>
            </div>


            <div class="form-group p-2">
                <label asp-for="PhoneNumber" class="control-label">Telefon-nummer</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="Email" class="control-label">Email: </label>
                <label asp-for="Email" class="third-text-color">@Model.Email</label>
                <a href=@Url.Action("ChangeEmail", "Account", new {id = Model?.AccountId}) class="btn btn-primary btn-sm border-0">Ändra</a>

            </div>
            
        </form>
    </div>
    <div class="form-group col-md-10 p-2">
        <input type="submit" value="Spara" class="btn btn-primary border-0" />
        <a href=@Url.Action("ChangePassword", "Account") class="btn btn-primary border-0">Ändra lösenord</a>
        <a href=@Url.Action("ActiveAccountBookings", "Booking", new {id = Model?.AccountId}) class="btn btn-primary border-0">Mina Bokningar</a>
        <a href=@Url.Action("Details", "Account", new {id = Model?.AccountId}) class="btn btn-primary border-0">Tillbaka</a>
    </div>
</div>

