@model FribergRentalCars.ViewModels.LoginRegisterViewModel

@{
    ViewData["Title"] = "LoginRegister";
}

<div>
    <h4 class="primary-text-color">Logga in/ Registrera konto</h4>
</div>

<div class="table-responsive">
    <table class="table primary-text-color">
        <thead>
            <tr>
                <th scope="col">Registrera konto</th>
                <th scope="col">Skapa lösenord</th>
                <th scope="col">Logga in</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*Konto uppgifter*@
                    <td>
                    <div class="form-group p-2">
                        <label asp-for="RegVM.Account.FirstName" class="control-label"><strong>Förnamn</strong></label>
                        <input asp-for="RegVM.Account.FirstName" class="form-control" />
                        <span asp-validation-for="RegVM.Account.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2">
                        <label asp-for="RegVM.Account.LastName" class="control-label"><strong>Förnamn</strong></label>
                        <input asp-for="RegVM.Account.LastName" class="form-control" />
                        <span asp-validation-for="RegVM.Account.LastName" class="text-danger"></span>
                    </div>

                    <div class="p-2"><strong>Adress</strong></div>
                    <div class="form-group p-2">
                        <label asp-for="RegVM.Account.Adress.Street" class="control-label"><strong>Gatunamn</strong></label>
                        <input asp-for="RegVM.Account.Adress.Street" class="form-control" />
                        <span asp-validation-for="RegVM.Account.Adress.Street" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2">
                        <label asp-for="RegVM.Account.Adress.PostalCode" class="control-label"><strong>Postnummer</strong></label>
                        <input asp-for="RegVM.Account.Adress.PostalCode" class="form-control" />
                        <span asp-validation-for="RegVM.Account.Adress.PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2">
                        <label asp-for="RegVM.Account.Adress.City" class="control-label"><strong>Stad/ Ort</strong></label>
                        <input asp-for="RegVM.Account.Adress.City" class="form-control" />
                        <span asp-validation-for="RegVM.Account.Adress.City" class="text-danger"></span>
                    </div>

                    <div class="p-2"><strong>Kontaktuppgifter</strong></div>
                    <div class="form-group p-2">
                        <label asp-for="RegVM.Account.PhoneNumber" class="control-label"><strong>Telefon</strong></label>
                        <input asp-for="RegVM.Account.PhoneNumber" class="form-control" />
                        <span asp-validation-for="RegVM.Account.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2">
                        <label asp-for="RegVM.Account.Email" class="control-label"><strong>Email</strong></label>
                        <input asp-for="RegVM.Account.Email" class="form-control" />
                        <span asp-validation-for="RegVM.Account.Email" class="text-danger"></span>
                    </div>
                    </td>
                    <td>
                        @* Användar uppgifter *@
                    <div class="form-group p-2">
                        <label asp-for="RegVM.User.UserName" class="control-label"><strong>Ange ett användarnamn</strong></label>
                        <input asp-for="RegVM.User.UserName" class="form-control" />
                        <span asp-validation-for="RegVM.User.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2">
                        <label asp-for="RegVM.User.Password" class="control-label"><strong>Ange ett lösenord</strong></label>
                        <input asp-for="RegVM.User.Password" class="form-control" />
                        <span asp-validation-for="RegVM.User.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2">
                        <label asp-for="RegVM.User.ConfirmPassword" class="control-label"><strong>Bekräfta lösenord</strong></label>
                        <input asp-for="RegVM.User.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="RegVM.User.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2">
                        <input type="submit" value="Registrera" class="btn btn-primary border-0"/>
                    </div>
                    </td>
                </form>
                <td>
                     <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <td>
                    <div class="form-group p-2">
                        <label asp-for="LoginVM.EmailOrUserName" class="control-label"><strong>Email/Användarnamn</strong></label>
                        <input asp-for="LoginVM.EmailOrUserName" class="form-control" />
                        <span asp-validation-for="LoginVM.EmailOrUserName" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2">
                        <label asp-for="LoginVM.Password" class="control-label"><strong>Ange lösenord</strong></label>
                        <input asp-for="LoginVM.Password" class="form-control" />
                        <span asp-validation-for="LoginVM.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2">
                        <label asp-for="LoginVM.ConfirmPassword" class="control-label"><strong>Bekräfta lösenord</strong></label>
                        <input asp-for="LoginVM.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="LoginVM.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2">
                        <input type="submit" value="Logga in" class="btn btn-primary border-0" />
                    </div>
                        </td>
                    </form>
                </td>
            </tr>
        </tbody>

    </table>
</div>

@*
                <td>
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <hr />
                        <div class="form-group">
                            <label asp-for="LoginVM.EmailOrUserName" class="control-label"><strong>Email/Användarnamn</strong></label>
                            <input asp-for="LoginVM.EmailOrUserName" class="form-control" />
                            <span asp-validation-for="LoginVM.EmailOrUserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LoginVM.Password" class="control-label"><strong>Ange lösenord</strong></label>
                            <input asp-for="LoginVM.Password" class="form-control" />
                            <span asp-validation-for="LoginVM.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LoginVM.ConfirmPassword" class="control-label"><strong>Bekräfta lösenord</strong></label>
                            <input asp-for="LoginVM.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="LoginVM.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Logga in" class="btn btn-primary" />
                        </div>

                    </form>
                </td>
                 </tr>
             </table>
    </div>*@

                    
                                   
                   
                

            
            @*
            <div class="form-group">
                <input type="submit" value="Registrera" class="btn btn-primary" />
            </div>
        </form>*@


@*
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5>Logga in</h5>
            <hr />
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoginVM.EmailOrUserName" class="control-label"><strong>Email/Användarnamn</strong></label>
                            <input asp-for="LoginVM.EmailOrUserName" class="form-control" />
                            <span asp-validation-for="LoginVM.EmailOrUserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LoginVM.Password" class="control-label"><strong>Ange lösenord</strong></label>
                            <input asp-for="LoginVM.Password" class="form-control" />
                            <span asp-validation-for="LoginVM.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LoginVM.ConfirmPassword" class="control-label"><strong>Bekräfta lösenord</strong></label>
                            <input asp-for="LoginVM.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="LoginVM.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <input type="submit" value="Logga in" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
