@{
   ViewData["Title"] = "Access Denied";

}


<h4 class="primary-text-color">Otillgänglig sida!</h4>
<div>
    <p class="third-text-color">Har du inget konto? 
        <a href=@Url.Action("LoginRegister", "Account") class="btn btn-primary border-0">Skapa konto</a>
    </p>

    <p class="third-text-color">
        Om du redan har ett konto, pröva att logga in
        <a href=@Url.Action("LoginRegister", "Account") class="btn btn-primary border-0">Logga in</a>
    </p>
</div>