@{
    ViewData["Title"] = "Home Page";
}

<section class="center-screen">
    <div class="container">
        <div>
            <img src="https://autobarn.se/wp-content/uploads/2020/07/Autobarn_Marmagard_front_mobile.png" class="img-fluid" alt="Friberg Rentals gård" />
        </div>

    </div>

</section>
