@using System.Text.Json

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @*<p>Session Id:  @Context.Session.GetInt32("sessionId")</p>*@
    @{
        if (!string.IsNullOrEmpty(Context.Session.GetString("user")))
        {
            <p>Inloggad som: @Context.Session.GetString("user")</p>
        }
        else
        {
            <p>Inloggad som: Gäst</p>
        }
    }
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
