@{
    ViewData["Title"] = "Home Page";
}


@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<section class="center-screen">
    <div class="container">
        <div id="box-1">
            <div></div>

        </div>
        <div id="box-2">
            <img src="https://autobarn.se/wp-content/uploads/2020/07/Autobarn_Marmagard_front_mobile.png" class="img-fluid" id="yard" alt="Friberg Rentals gård" />
        </div>

    </div>

</section>
