@model FribergRentalCars.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Ny bokning för @Context.Session.GetString("user")</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmBooking" asp-controller="Booking">
            <div class="form-group">
                <input type="hidden" asp-for="TotalCost" value=@Model.TotalCost class="form-control" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input type="date" asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input type="date" asp-for="EndDate" class="form-control"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CarId" value=@Model.CarId />
                <p>@Model.CarId (debug)</p>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Car" asp-action="Index">Tillbaka</a>
</div>


